<html>
  <head> 
    <title>test #2</title>
    <style>

        .error {
           color:red;border:1px solid red;
           width:100%;
        }

        ul.msg {
           overflow:hidden; 
           margin:0; 
           list-style-type:none; 
           padding:0;
        }

        ul.nav {
           background-color:#333333; 
           overflow:hidden; 
           margin:0; 
           list-style-type:none; 
           padding:0;
        }

        li.nav {
           float: left
        }

        li.nav a {
             text-decoration:none;
             text-align:center;
             color:white;
             padding:16px;
             display:block;
        }     
        li.nav a:hover {
             background-color:111111;
        }

        li.msg {
            color:#333333;
        }

        tr.header td {
           color:white;
           background-color:black;
        }

        tr.data td {
           color:black;
           border: 1px solid #ddd;
           vertial-align:middle;
        }

        tr.data td.button {
           color:black;
           border-left: 1px solid #ddd;
           padding-left:2px;
           vertial-align:middle;
        }

        tr:nth-child(even) {
           background-color: #f2f2f2;
        }

        td form { margin:0}

    </style>
  </head>
  <body>
